{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
{{ $prev := "fa fa-chevron-left"}}
{{ $next := "fa fa-chevron-right"}}
<!-- Pagination -->
<div class="pagination-wrapper">
  <ul class="pagination justify-content-center">
    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .Paginator.Prev.URL }}"><i class="{{ $prev }}"></i></a></li>
    {{ else }}
    <li class="disabled"><a><i class="{{ $prev }}"></i></a></li>
    {{ end }}

    <li><span>&nbsp;{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}&nbsp;</span></li>

    {{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL }}"><i class="{{ $next }}"></i></a></li>
    {{ else }}
    <li class="disabled"><i class="{{ $next }}"></i></li>
    {{ end }}
  </ul>
</div>
{{ end }}
