{{ partial "header.html" . }}

{{ partial "sidemenu.html" . }}

{{ partial "banner.html" . }}

<section id="main" class="wrapper style1">
	<div class="container">
		<div class="row" style="margin-top: -2.5em;">
			<div class="3u">
				<a href="#" class="image fit"><img src="{{ $.Site.BaseURL }}/images/author.jpg" style="margin: 0 auto; max-width: 15em; max-height: 15em;" /></a>
			</div>
			<div class="9u">
				{{ with .Site.Author.title }}<small>{{ . }}</small>{{ end }}
				<h2 style="font-size: 1.75em;">{{ .Site.Author.name | safeHTML }}</h2>
				
				<div class="row" style="margin-top: -1em; padding-bottom: 1em;">
					<div class="12u">
					{{ range .Site.Author.company }}
					<b class="icon fa-building">&nbsp;{{ . }}&nbsp;&nbsp;&nbsp;</b>
					{{ end }}
					</div>

					<div class="12u">
					{{ range .Site.Author.education }}
					<b class="icon fa-graduation-cap">&nbsp;{{ . }}&nbsp;&nbsp;&nbsp;</b>
					{{ end }}
					</div>

					<div class="12u">
					{{ with .Site.Author.location }}
					<b class="icon fa-location-dot">&nbsp;{{ . }}&nbsp;&nbsp;&nbsp;</b>
					{{ end }}

					{{ with .Site.Author.email }}
					<b class="icon fa-envelope">&nbsp;{{ . }}&nbsp;&nbsp;&nbsp;</b>
					{{ end }}
					</div>
					
				</div>

				<p>{{ .Site.Author.description | safeHTML }}</p>
				<div style="margin-top: 0.25em;">{{ partial "social.html" . }}</div>
			</div>
		</div>	
	</div>

	{{ partial "about_skills.html" . }}

	{{ partial "about_works.html" . }}

	{{ partial "about_certs.html" . }}
	
</section>

<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

{{ partial "single_footer.html" . }}
